.nav-bg {
  background-color: #556b2f95;
}

.primary-nav {
  display: flex;
  justify-content: space-evenly;
}

.primary-nav a{
  color: var(--white);
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.primary-nav a:hover{
  background-color: var(--secondary);
  color: var(--black);
}


.title {
  background-color: rgba(52, 78, 24, 0.267);
  font-family:'Times New Roman', Times, serif;
  font-size: 50x;
  color: rgb(33, 39, 37);
  padding: 30px 20px;
  text-align: center;
  font-weight: 800;
}

.integrante {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.integrante h3{
  color: var(--primary);
  text-align: center;
  font-weight: normal;
}

.integrante p {
  line-height: 2;
}

.integrante .icons{
  background-color: var(--secondary);
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.nombres{
  font-size: larger;
  font-weight: 700;
  padding: 10px 10px;


}

.nombres a{
  text-decoration: none;
}

.imagen {
  image-rendering: optimizeQuality;
  max-width: 400px;
  max-height: 450px;
}

.imagen1 {
  image-rendering: optimizeQuality;
  max-width: 600px;
  max-height: 600px;
  align-content: center;
}

.title2 {
  background-color:  rgba(52, 78, 24, 0.267);
  font-family:'Times New Roman', Times, serif;
  font-size: 40px;
  color: rgb(33, 39, 37);
  padding: 30px 20px;
  text-align: center;
  font-weight: 800;
}

.title3 {
  font-family:'Times New Roman', Times, serif;
  margin-bottom: 40px;
}

.title span{
  font-style: oblique;
  font-size: 60%;
  padding: 20px;
  font-weight: 600;
}

.content {
  width: auto;
  margin: 0 auto;
}

.objetivos {
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.contenido-objetivos {
  background-color: rgba(4, 108, 35, 0.295);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenido-objetivos h2,
.contenido-objetivos p{
  color: var(--black);
  text-align: center;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10%;
  margin-bottom: 20px;
}
.shadow {
  -webkit-box-shadow: 0px 5px 16px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 16px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 16px 5px rgba(0,0,0,0.75);
  background-color: var(--white);
  padding: 20px;
}

.integrantes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.integrante {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.integrante h3{
  color: var(--primary);
  text-align: center;
  font-weight: normal;
}

.integrante p {
  line-height: 2;
}

.integrante .icons{
  background-color: var(--secondary);
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.izquierda{
  text-align: left;
}
.footer {
  padding: 30px 20px;
  text-align: center;
  margin-top: 10px;
  background-color: rgba(4, 108, 35, 0.295);
  color: black;
  font-family: Cambria;
  font-size: 20px;
}

.nombres{
  font-size: larger;
  font-weight: 700;
  padding: 10px 10px;


}
.nombres a{
  text-decoration: none;
}

.imagen {
  image-rendering: optimizeQuality;
  max-width: 400px;
  max-height: 450px;
}

.imagen1 {
  image-rendering: optimizeQuality;
  max-width: 600px;
  max-height: 600px;
  align-content: center;
}

.nav-bg1 {
  background-color: #556b2f95;
  margin-bottom: 50px;
}




.actividades {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.actividad {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actividad h2{
  color: var(--primary);
  text-align: center;
  font-weight: normal;
}


.mi_tabla {
  width: 50%;
  border-collapse: separate;
  border: 5px solid #000000;
}
.mi_tabla th, .mi_tabla td {
  padding: 10px;
  border: 1px solid #ffffff;
  text-align: left;
}
.mi_tabla th {
  background-color: #ffdfb4;
  font-weight: bold;
}
.mi_tabla tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.parrafo {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px;
}

.parrafo2{
  font-weight: 300;
  font-size: 20px;
  text-align:justify;
  padding: 10px 10px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
